h1 {
	font-size: 20px;
}

h2 {
	color: rgba(0,0,0,.5);
	font-size: 15px;
	font-weight: 300;
}

h3 {
	color: rgba(0,0,0,.3);
	font-size: 15px;
	font-weight: 300;
}

p {
	color: rgba(0,0,0,.3);
	font-size: 14px;
	font-weight: 300;
}

.icon {
	opacity: 0.3
}

.icon:hover {
	opacity: 0.6;
	transition-duration: 0.2s;
}